<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout3">
	
<head>
  <title>Liste des utilisateurs</title>
</head>

<body>

	<th:block layout:fragment="script">
	</th:block>
	<th:block layout:fragment="style">
		<link href="../static/css/style-1.css" th:href="@{/css/style-1.css}"
			rel="stylesheet" media="screen" />
	</th:block>

	<div layout:fragment="content">
		<div class="container">

			<div th:if="${not #lists.isEmpty(users)}">
				<h3 class="titre1">Liste des utilisateurs</h3>

				<table class="table table-striped">
					<tr>
						<th>Username</th>
						<th>Prenom</th>
						<th>Nom</th>
						<th>Enabled</th>
						<th>View</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr th:each="user : ${users}">
						<td th:text="${user.username}">Username</td>
						<td th:text="${user.prenom}">Prenom</td>
						<td th:text="${user.nom}">Nom</td>
						<td th:text="${user.enabled}">Enabled</td>
						<td><a th:href="${ '/admin/utilisateur/' + user.username}">View</a></td>
						<td><a
							th:href="${'/admin/utilisateur/edit/' + user.username}">Edit</a></td>
						<td><a
							th:href="${'/admin/utilisateur/delete/' + user.username}">Delete</a></td>
					</tr>
				</table>

			</div>
		</div>
	</div>

</body>
</html>