<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout3">
<body>

	<div layout:fragment="content">

		<link href="../static/css/login-style.css"
			th:href="@{/css/login-style.css}" rel="stylesheet" media="screen" />
		<link href="../static/css/login-form-elements.css"
			th:href="@{/css/login-form-elements.css}" rel="stylesheet"
			media="screen" />
		<script type="text/javascript" th:src="@{/js/login-scripts.js}"></script>

          <p>
          hello home admin
          </p>

	</div>



</body>
</html>