<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout3">

<head>
  <title>Liste des avions</title>
</head>

<body>

	<th:block layout:fragment="script">
	</th:block>
	<th:block layout:fragment="style">
		<link href="../static/css/style-1.css" th:href="@{/css/style-1.css}"
			rel="stylesheet" media="screen" />
	</th:block>

	<div layout:fragment="content">
		<div class="container">

			<div th:if="${not #lists.isEmpty(avions)}">
				<h3 class="titre1">Liste des avions</h3>

				<table class="table table-striped">
					<tr>
						<th>Immatriculation</th>
						<th>Appareil</th>
						<th>Capacité</th>
						<th>TU/AFF</th>
						<th>Nom airline</th>
						<th>Code airline</th>
						<th>Type</th>
						<th>Date d'entée</th>
						<th>Date de sortie</th>
						<th>Edit</th>
					</tr>
					<tr th:each="avion : ${avions}">
						<td th:text="${avion.imm}">Immatriculation</td>
						<td th:text="${avion.appareil}">Appareil</td>
						<td th:text="${avion.capacite}">Capacité</td>
						<td th:text="${avion.tuaff}">TU/AFF</td>
						<td th:text="${avion.nowner}">Nom airline</td>
						<td th:text="${avion.cowner}">Code airline</td>
						<td th:text="${avion.type}">Type</td>
						<td th:text="${avion.dentree}">Date d'entée</td>
						<td th:text="${avion.dsortie}">Date de sortie</td>
						<td><a
							th:href="${'/admin/avion/edit/' + avion.imm}">Edit</a></td>
					</tr>
				</table>

			</div>
		</div>
	</div>

</body>
</html>